.header{
	
	height: 100px;

}

.container{
	
	
}

.center{
	margin-left: auto ; 
	margin-right: auto ; 
}

.footer{
	background: red ; 
	height: 40px ; 
	margin-top: 50px ;
}
.menu{
	float: right;
	margin-top: 20px ; 
}
.menu ul{
	float: right; 
	
	
}

.menu li{
	display: inline;
	margin-right: 50px;
}

.logo{
	margin-top: 20px ;

	float: left ;
	font-size: 20px ;
}

.clear{
	clear: both; 
}
